h2 {
   color:rgb(128, 0, 128); 
   background-color: teal;
}

body{
    background-color: aquamarine;
    color: rgb(255, 0, 0);
    font-size: 10px ;
    
}

li {
    background-color: dodgerblue;
} 
h1{ color: rgba(61, 143, 63, 0.782); font-weight: 200;

}
.program-list {
    background-color: red;
    font-size: 30px;
    border: 5px dashed black
    ;
}
.label {
    font-weight: 800;
}

#program-javascript {
    border-width: 2px;
    border-style: dotted;
    border-color: yellow:
}

#steps-html {
    border: 2px dotted yellow;
}